/* General Styles */
body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

/* Custom CSS for hover effect */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-link {
  font-weight: bold;
}

.dropdown-menu {
  margin-top: 0;
  width: 270px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Adds subtle shadow for depth */
  transition: all 0.3s ease;
  /* Smooth transition for hover effects */

}

.dropdown-item:hover {
  color: rgb(20, 92, 226);
  font-weight: bold;
  transition: color 0.3s ease;
}


/* Navigation */
.navbar {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.986);
}

/* Hero Section */
.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Featured Destinations */
.featured-destinations {
  padding: 50px 0;
}

.featured-destinations h2 {
  text-align: center;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 4px 8px rgb(105, 195, 236);
  transition: transform 0.3s;
  transform: scale(1.05);
  color: #f39d1c;
}

.card-title:hover {
  color: #0c94e2;
}

.card-text:hover {
  color: #0c94e2;
}

.card-img-top {
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  /*Đảm bảo hình ảnh bao phủ toàn bộ khung hình mà không làm biến dạng. */
}



/* About Section */
.about {
  padding: 50px 0;
}

/* hinh anh gif tĩnh */
.img-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  /* An phần nội dung vượt ra ngooài */
  border-radius: 20px;
}

.img-static {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: none;
}

.img-static img {
  opacity: 0;
}

.anh_phu {
  display: none;
}

/* .img-static:not(.img-static) {
animation: gif-animation 0.5s steps(8) infinite;
} */

/* @keyframes gif-animation {
0% { background-position: 0 0; }
100% { background-position: -1200px 0; }
} */

#gif-container-hn.img-static {
  background-image: url('https://imagev3.vietnamplus.vn/w1000/Uploaded/2024/hotnnz/2022_08_30/ha_noi.jpg.webp');
}

#gif-container-dn.img-static {
  background-image: url('https://baovephapluat.vn/data/images/0/2023/11/07/tamlt/quang-thien-cau-rong2.jpg?dpi=150&quality=100&w=820');
}

#gif-container-pq.img-static {
  background-image: url('https://static.vinwonders.com/2022/05/DJI_0087-1-scaled.jpg');
}

#gif-container-ha.img-static {
  background-image: url('https://images2.thanhnien.vn/528068263637045248/2023/4/4/hoi-an-1680591517857660432696.jpg');
}


#gif-container-hcm.img-static {
  background-image: url('https://hnm.1cdn.vn/2023/12/12/a355.jpg');
}

#gif-container-nt.img-static {
  background-image: url('https://letsflytravel.vn/assets/source/2_5_2024_Up/nha-trang-city-tour/nha-trang-letsflytravel.jpg');
}

#gif-container-hl.img-static {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/368/774/484/photography-h%E1%BA%A1-long-bay-boat-earth-wallpaper-preview.jpg');
}

#gif-container-sapa.img-static {
  background-image: url('https://guidevietnam.org/wp-content/uploads/2020/07/Sapa-trong-may-mu.jpg');
}

#gif-container-hue.img-static {
  background-image: url('https://file1.dangcongsan.vn/data/0/images/2024/04/11/upload_673/hue-imperial-gate-1024x683-754-17016811818591749547652.png');
}


/* Categories Section */
.categories {
  padding: 50px 0;
}

/* Detail Section */
.detail {
  padding: 50px 0;
}

.detail img {
  max-width: 100%;
  height: auto;
}

/* Contact Section */
.contact {
  padding: 50px 0;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.list-unstyled a {
  color: #000;
  text-decoration: none;
}

.list-unstyled a:hover {
  color: #444ed8;
  text-decoration: none;
}


footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px 0;
}

.footer-bg {
  background-color: #f8f9fa;
  background-image: url('https://cdn.tgdd.vn/Files/2021/11/06/1396193/10-dinh-nui-cao-nhat-viet-nam-danh-cho-ai-thich-kham-pha-nhung-dia-hinh-hiem-tro-202111061657314221.jpg');
  /* Đường dẫn đến hình ảnh nền nếu có */
  background-size: cover;
  /* Đảm bảo hình ảnh phủ toàn bộ vùng nền */
  background-repeat: no-repeat;
  /* Không lặp lại hình ảnh nền */
  background-position: center;
  padding: 20px;
  /* Khoảng đệm cho nội dung bên trong footer */
}


footer h5 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
}

footer ul {
  padding-left: 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer image {
  width: 50px;
  height: 50px;
}

footer a:hover {
  color: #cccccc;
}

footer .list-inline li {
  display: inline-block;
  margin-right: 10px;
}

footer .list-inline li img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
}

.full-width-footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Responsive Footer Styles */
@media (max-width: 768px) {
  footer {
    text-align: left;
    padding: 20px;
  }

  .footer .list-inline {
    padding-left: 0;
    list-style: none;
    text-align: center;
  }

  .footer .list-inline li {
    display: block;
    margin-bottom: 10px;
  }

  .footer .list-inline li img {
    width: 80px;
    height: 80px;
  }

  .footer h5 {
    font-size: 14px;
    text-align: center;
  }

  .footer ul {
    text-align: center;
    padding-left: 0;
  }

  .footer li {
    display: inline-block;
    margin-right: 10px;
  }

  .stars {
    color: gold;
    font-size: 1em;
  }

  .anh_phu {
    display: flex;
  }
}

@media (max-width: 576px) {
  footer {
    text-align: center;
    padding: 10px;
  }

  .footer h5 {
    font-size: 12px;
  }

  .footer .list-inline li img {
    width: 60px;
    height: 60px;
  }

  .footer .list-inline li {
    margin-bottom: 5px;
  }

  .footer ul {
    text-align: center;
    padding-left: 0;
  }

  .footer li {
    display: block;
    margin-bottom: 5px;
  }

  .footer-bg {
    padding: 10px;
  }
}



/* button and textfield */
.my-button {
  background-color: #62a7ec;
  /* Màu nền giống với màu viền trường nhập liệu */
  border: none;
  /* Loại bỏ viền */
  color: white;
  /* Màu chữ là trắng */
  border-radius: 0 5px 5px 0;
  width: 80px;
  height: 47px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Hiệu ứng chuyển mượt mà cho sự thay đổi màu nền và bóng đổ */
}

.my-button:hover {
  background-color: #1C86EE;
  box-shadow: 0 4px 8px rgba(216, 212, 212, 0.918);
}




.my-textfield {
  padding: 10px;
  /* Thêm padding cho trường nhập liệu */
  border: 2px solid #1E90FF;
  /* Màu viền giống với nút */
  border-radius: 5px 0 0 5px;
  /* Bo tròn góc để khớp với nút, chỉ có ở phía trái */
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
  /* Hiệu ứng chuyển mượt mà cho sự thay đổi màu viền */

  width: 330px;
  border-radius: 500px;
  margin-right: -84px;
}

.my-textfield:focus {
  border-color: #1C86EE;
  /* Slightly darker border on focus */
  box-shadow: 0 0 8px rgba(30, 144, 255, 0.3);
  /* Add shadow on focus */
}




/* CSS for transparent background */
.navbar {
  background-color: transparent !important;
  /* Make the background transparent */
  transition: background-color 0.3s, border-bottom 0.3s, box-shadow 0.3s;
  /* Add transition effect for background color, border, and box-shadow */
  border: none !important;
  /* Remove border */
  padding: 0.5rem 1rem;
  /* Adjust padding */
  box-shadow: none !important;
  /* Remove box-shadow */
}

/* CSS for default background on hover */
.navbar.hovered {
  background-color: #f8f9fa !important;
  /* Set default background color when hovered */
}


.title-stars {
  display: flex;
  align-items: center;
}

.card-title {
  margin: 0;
  margin-right: 15px;
}

.stars {
  color: gold;
  font-size: 1.6em;
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  /* Default to hidden */
}

.overlay-content {
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 360px;
  /* Giảm chiều rộng tối đa */
  border-radius: 10px;
  /* Giảm độ bo tròn */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Giảm độ đậm của bóng đổ */
  text-align: center;
}

.overlay h2 {
  text-align: center;
  color: #04032e;
  font-size: 22px;
  /* Giảm kích thước chữ */
  margin-bottom: 15px;
  /* Giảm khoảng cách dưới */
}

.overlay button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  /* Giảm padding */
  border: none;
  border-radius: 5px;
  font-size: 14px;
  /* Giảm kích thước chữ */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  /* Giảm khoảng cách dưới */
  margin-top: 10px;
}

.overlay button[type="submit"]:hover {
  background-color: #0056b3;
}

.overlay input[type="text"],
.overlay input[type="email"],
.overlay input[type="password"] {
  width: 100%;
  padding: 8px;
  /* Giảm padding */
  margin: 5px 0 15px 0;
  /* Giảm khoảng cách dưới */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  /* Giảm kích thước chữ */
}

.overlay label {
  display: block;
  text-align: left;
  margin: 0 0 5px 0;
  font-weight: bold;
  color: #444;
}



.card1 {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 30px;
  height: 300px;
}

.card1-image {
  border: 20px;
  font-size: 10px;
  border-radius: 20px;

}

.card1-body {
  font-size: small;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  padding: 20px;
  transition: opacity 0.3s ease;
  margin-bottom: 30px;
}

.card1-title,
.card1-text,
.button1 {
  text-align: center;
}

.button1 a {
  font-size: xx-small;
}

.card1-body .tour-info {
  text-align: center;
}

.card1-body .tour-info:hover {
  color: #f39d1c;
}

.card1-body .card1-title:hover {
  color: red;
}

.card1:hover .card1-body {
  opacity: 1;
  transition: all 0.3s ease;
  /* Smooth transition for hover effects */
}



.facebook-header {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.profile-info {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
}


.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #3a7fc9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(207, 201, 201, 0.3);
  z-index: 999;
}

.chat-container {
  position: fixed;
  bottom: 80px;
  right: 23px;
  width: 330px;
  height: 460px;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.chat-header {
  background-color: #2e82e2;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

.facebook-header {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
}

.chat-body {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
  word-wrap: break-word;
}

.user-message {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.admin-message {
  background-color: #e2e2e2;
  color: #333;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f2f2f2;
}

.chat-input input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-input button {
  margin-left: 10px;
  background-color: #2e82e2;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


/* hiệu ứng động icon chat, call */

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.chat-icon a i,
i {
  animation: pulse 1s infinite;
}



/* Advertisement styles */
.advertisement {
  position: fixed;
  top: 0;
  left: -290px;
  /* Start off-screen */
  width: 290px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s;
  z-index: 1050;
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.advertisement .ad-close {
  position: sticky;
  top: 0;
  right: 0;
  left: 100%;
  z-index: 1060;
  /* Ensure the button is above other content */
  margin: 10px;
  /* Margin to position the button */
}

.advertisement .ad-content {
  padding: 20px;
}

.advertisement .ad-content h4 {
  margin-top: 0;
}

.ad-toggle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: none;
  padding: none;
  cursor: pointer;
}

.ad-toggle .fa-arrow-right {
  font-size: 20px;
}

/* Adjustments when advertisement is visible */
.advertisement.show {
  left: 0;
}

@media (max-width:1196px) {
  .stars {
    font-size: 1em;
  }
}

@media (max-width:988px) {
  .bl_img {
    margin-top: 150px;
  }
}

.bot_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width:992px) and (max-width:1200px) {
  .f-r {
    font-size: 12px;
    width: 90px;
    text-align: center;
  }

  .inp-cent {
    width: 220px;
  }

  .container {
    padding-left: 0;
  }
}


#statistics {
  background-color: #f8f9fa;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#statistics.visible {
  opacity: 1;
  transform: translateY(0);
}

.statistic {
  margin: 20px 0;
}

.stat-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-value {
  font-size: 3rem;
  font-weight: bold;
}

.stat-label {
  margin-top: 10px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  max-height: 200px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.blue .circle {
  stroke: #3b8bba;
}

.circular-chart.green .circle {
  stroke: #4caf50;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


.carousel-inner img {
  height: 570px;
  width: 100%;
}
